/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr.css';

.app.flex {
  display: flex;
}

.app.aside {
  width: 100%;
}

.app.content {
  width: 100%;
}

.page.content {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
  .app.aside {
    width: 200px;
  }

  .app.content {
    width: auto;
  }
}

.custom-progress .mat-progress-bar-fill::after {
  background-color: #444444;
}

.custom-progress .mat-progress-bar-buffer {
  background-color: #dbdcdd;
}
