<mat-toolbar [color]="color | async">
  <button (click)="toggleSidenav()">
    <mat-icon [svgIcon]="navIcon | async"></mat-icon>
  </button>
  {{ title | async }}
</mat-toolbar>

<mat-sidenav-container class="row" [hasBackdrop]="hasBackdrop | async">
  <mat-sidenav #sidenav class="col s8 m5 l4" [mode]="sidenavMode | async" style="height: 1000px">
    <mat-list>
      <a mat-list-item
        *ngFor="let link of links | async"
        [routerLink]="link?.path"
        (click)="closeSidenav()">{{ link?.title }}</a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="col s12 m12 l10" style="height: 1000px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
