<mat-toolbar class="app flex header custom-color">
  <span class="title">
    {{ title | async }}
  </span>
  <span class="displayName">
    <span class="nameString">{{ displayName | async }}</span>
    <i *ngIf="displayName | async" class="far fa-user"></i>
  </span>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="hasBackdrop | async">
  <mat-sidenav #sidenav class="app aside sidenav-custom" [mode]="sidenavMode | async" style="height: 1000px">
    <mat-list>
      <a mat-list-item
        *ngFor="let link of links | async"
        [routerLink]="link?.path"
        (click)="logout(link)">{{ link?.title }}</a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="app content" style="height: 1000px">
    <div class="page content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
