.transfer-form {
    .half-block-wrapper {
        display: inline-flex;
        width: 100%;
    }
    .half-block {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .bottom-button {
        margin: 10px 5px;
    }

    h6 {
        margin-top: 10px;
    }
}