<h1>Batch</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Batch Name</th>
      <th scope="col">Evidence Counts</th>
      <th scope="col">Expires</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Batch Name 01</td>
      <td>100</td>
      <td>09/12/2018 8:07 AM</td>
    </tr>
    <tr>
      <td>Batch Name 01</td>
      <td>100</td>
      <td>09/12/2018 8:07 AM</td>
    </tr>
    <tr>
      <td>Batch Name 01</td>
      <td>100</td>
      <td>09/12/2018 8:07 AM</td>
    </tr>
    <tr>
      <td>Batch Name 01</td>
      <td>100</td>
      <td>09/12/2018 8:07 AM</td>
    </tr>
  </tbody>
</table>