<h1>Batches</h1>
<h2>Batch</h2>
<!-- <table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of table?.headers"scope="col">
        {{ header.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table?.rows">
      <td>
        <a [routerLink]="row.uri">{{ row.id }}</a>
      </td>
      <td>{{ row.batchName }}</td>
      <td>{{ row.evidenceCounts }}</td>
      <td>{{ row.expires }}</td>
    </tr>
  </tbody>
</table> -->

<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div> -->

  <div class="example-table-container">
    <mat-table [dataSource]="dataSource" class="example-table">
           <!-- matSort matSortActive="created" matSortDisableClear matSortDirection="asc"> -->
      <!-- Number Column -->
      <ng-container matColumnDef="batchId">
        <mat-header-cell *matHeaderCellDef>Batch ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.batchId}}</mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="batchName">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Batch Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.batchName}}</mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="employeeId">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Employee ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.employeeId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="evidenceCount">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Evidence Count</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.evidenceCount}}</mat-cell>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="expires">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Expires
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.expires | date}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getEvidence(row)"></mat-row>
    </mat-table>
  </div>

  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->
</div>

<div *ngIf="dataSourceEvidence">
  <div class="example-container"><h4>Evidence</h4>  </div>

  <div class="example-container mat-elevation-z8">
    <!-- <div class="example-loading-shade"
        *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div> -->

    <div class="example-table-container">
      <mat-table [dataSource]="dataSourceEvidence" class="example-table">

          'batchId', 'evidence', 'evidence1B', 'description','status','evidenceSubmissionId'
            <!-- matSort matSortActive="created" matSortDisableClear matSortDirection="asc"> -->
        <!-- Number Column -->
        <ng-container matColumnDef="batchId">
          <mat-header-cell *matHeaderCellDef>Batch ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.batchId}}</mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="evidence">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Evidence</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.evidence}}</mat-cell>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="evidence1B">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Evidence 1B</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.evidence1B}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="evidenceSubmissionId">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Evidence Submission ID
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.evidenceSubmissionId}}</mat-cell>
          </ng-container>

        
        <mat-header-row *matHeaderRowDef="displayedColumnsEvidence"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsEvidence;"></mat-row>
      </mat-table>
    </div>

    <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->
  </div>
</div>
