<h1>Batches</h1>
<h2>Batch</h2>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of table?.headers"scope="col">
        {{ header.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table?.rows">
      <td>
        <a [routerLink]="row.uri">{{ row.id }}</a>
      </td>
      <td>{{ row.batchName }}</td>
      <td>{{ row.evidenceCounts }}</td>
      <td>{{ row.expires }}</td>
    </tr>
  </tbody>
</table>

<h2>Evidence</h2>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of table?.headers"scope="col">
        {{ header.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table?.rows">
      <td>
        <a routerLink="./transfer/1">{{ row.id }}</a>
      </td>
      <td>{{ row.batchName }}</td>
      <td>{{ row.evidenceCounts }}</td>
      <td>{{ row.expires }}</td>
    </tr>
  </tbody>
</table>